*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #E8F2FC;
}

.container{
    width: 60%;
    margin: 0 auto;
}
header{
     width: 80%;
    margin: 0 auto;
    margin-bottom: 25px;

}
header ul{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    list-style: none;
}
header ul li {
    margin: 0 20px;
}
header ul li button{
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    width: 120px;
      height: 40px;
      cursor: pointer;
}
header ul li button.active{
background-color: #3E70F0;

}
img{
width: 100%;
height: 180px;
border-radius: 12px 12px 0 0;
}
.allcards {
 display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:20px 40px;
}

.allcards .card{
background-color: #ffffff;
border-radius: 12px;
}

.allcards .card .title {
    padding: 5px 20px;
}
@media (max-width: 950px){
    .allcards{
            grid-template-columns: repeat(3, 1fr);

    }
}
@media (max-width: 808px){
    .allcards{
            grid-template-columns: repeat(2, 1fr);

    }
}
@media (max-width: 480px) {
    .allcards {
        grid-template-columns: 1fr;
    }

header {
    width: 100%;
}
header ul li {
    margin: 0 8px;
}
header ul li button{

    width: 80px;
  
}
}
