* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  display: inline-block;
}


header h3 {
   padding:  0 20px;
   color: #000;
}
header{
  background-color: rgb(255, 106, 106);
  height: 55px;
 color: #ffffff;

}
header .text {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
 .Mobile{
  color: #000;
 margin:  0 20px;
 display: none;
 }
  
header nav ul {
 display: flex;
 justify-content: space-between;
 list-style: none;
 padding: 0 10px;
}
header nav ul li {
   padding: 0 10px;
}
@media  (max-width: 750px){


header .text {
    
    position: relative;
    margin: 0;
  
  }
 
  .Mobile {
  display: block;
  cursor: pointer;
  width: 25px;
  height: 25px;
   position: relative;
 
}
 nav {
    position: absolute;
    width: 100%;
     background-color: rgb(255, 106, 106);
    top: 55px;
    left:0;
    right: 0;
    opacity: 0;
  }
  nav.active{
    opacity: 1;
  }
header nav ul {
 display: block;
}
header nav ul li {
  padding: 8px 10px ;
  border-bottom: 2px solid rgb(255, 255, 255);
}
header nav ul li:last-child{
  border-bottom:  none;
}
.Mobile i {
  position: absolute;
  inset: 0;
  margin: auto;
  width: max-content;
  height: max-content;
   opacity: 0;
}
.Mobile i.active{
   opacity: 1;
}

}